@font-face {
  font-family: "Oswald";
  font-kerning: normal;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("fonts/Oswald-Medium.woff2") format("woff2");
}

:root {
  --radius: 0;
  --small-gap: 4px;
  --medium-gap: 8px;
  --large-gap: 16px;
  --small-line-height: 0.9em;
  --regular-line-height: 1em;

  --black-light: #111;
  --white-light: #fbf8ef;
  --grey-light: hsl(200,5%,95%);
  --blue-light: #63bce5;
  --green-light: #65D157;
  --orange-light: #f8a300;
}

*,
html {
  box-sizing: border-box;
}
html {
  width: 100svw;
  height: 100svh;
  overflow: hidden;
}
body {
  margin: 0;
  width: 100%;
  display: flex;
  max-height: 100%;
  flex-flow: column nowrap;
  color: var(--black-light);
  padding: var(--large-gap);
  letter-spacing: 0.1em;
  background: var(--white-light);
  align-items: center;
  justify-content: flex-start;
  user-select: none;
  height: calc(100% - 2 * var(--large-gap) - 40px);
  font: 700 clamp(0.5rem, 1vmin + 1rem, 2rem) "Oswald";
}
main {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
canvas {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--black-light);
  border-radius: var(--radius);
  margin-bottom: var(--medium-gap);
  background: var(--white-light);
}
#buffer {
  display: none;
}
label {
  width: 100%;
  display: flex;
  flex: 2 2 100%;
  min-height: 40px;
  text-align: center;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 var(--small-gap);
  height: clamp(32px, 8vh, 64px);
  background: var(--white-light);
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius);
}
.pattern,
input[type="radio"] {
  display: none;
  touch-action: none;
}
input[type="radio"]:checked+.level {
  background: var(--blue-light);
}
input[type="radio"]:checked+.title {
  background: var(--orange-light);
}
input[type="radio"]:checked+.state {
  background: var(--green-light);
}
.page-title {
  width: 100%;
}
.header {
  width: 100%;
  height: 40px;
  display: flex;
  gap: 16px;
  white-space: nowrap;
  align-items: center;
  padding-left: var(--radius);
  padding-bottom: var(--small-gap);
  margin-bottom: var(--medium-gap);
  justify-content: space-between;
}
.header > * {
  padding: 0;
  margin: 0;
}
.link {
  color: inherit;
  transition: 0.65s;
  text-decoration: none;
}
.link:hover {
  transition: 0;
  color: var(--orange-light);
}
.buttons {
  height: fit-content;
}
.title-container,
.level-container,
.control-container {
  margin: 0;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--small-gap);
  margin-bottom: var(--medium-gap);
  justify-content: space-between;
}
.title,
.level,
.state {
  text-shadow: -1px -1px 0 var(--white-light), 0 -1px 0 var(--white-light), 1px -1px 0 var(--white-light), 1px 0 0 var(--white-light), 1px 1px 0 var(--white-light), 0 1px 0 var(--white-light), -1px 1px 0 var(--white-light), -1px 0 0 var(--white-light);
}
.title {
  color: var(--orange-light);
  border-color: var(--orange-light);
}
.level {
  color: var(--blue-light);
  border-color: var(--blue-light);
}
.state {
  color: var(--green-light);
  border-color: var(--green-light);
}

@media screen and (min-width: 768px) {
  label:hover {
    filter: brightness(110%);
  }
}

@media screen and (orientation: landscape) {
  .content-container {
    display: flex;
    flex-flow: row nowrap;
  }
  canvas {
    margin-right: var(--medium-gap);
  }
}
