* {
  --radius: 2ch;
  --small-gap: 1vmin;
  --large-gap: 1vmax;
  --xlarge-gap: 2vmax;
  --bold-weight: 700;
  --font-size-regular: clamp(1rem, 2vmax, 2rem);
  --font-size-medium: clamp(1rem, 3vw + 1rem, 8rem);
  --orange-light: #ee977f; 
  --orange-dark: #b1705a;
  --white-light: #fbf8ef;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  color: #111;
  font-family: sans-serif;
  background-color: var(--white-light);
  padding: var(--small-gap) var(--large-gap);
  min-height: fit-content;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  height: var(--font-size-regular);
}

input[type="range"] {
  margin: 0;
  padding: 0;
  width: 100%;
  height: var(--font-size-medium);
  border-radius: var(--radius);
  background-color: #a6cbd7;
}

input[type="range"]::-webkit-slider-thumb {
  width: var(--font-size-regular);
  border-radius: var(--radius);
  background-color: #111;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  background-color: var(--orange-light);
  color: #111;
}

button {
  border: none;
  color: #111;
  flex: 2 2 100%;
  font-weight: var(--bold-weight);
  font-family: sans-serif;
  font-size: var(--font-size-regular);
  border-radius: var(--radius);
  padding: var(--large-gap);
  background-color: #e6e5e6;
}

label:hover,
button:hover,
input[type="range"]::-webkit-slider-thumb:hover {
  cursor: pointer;
  outline: 1px solid var(--orange-light);
}

fieldset {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--small-gap);
  justify-content: space-between;
}

label {
  border: none;
  display: flex;
  flex: 2 2 100%;
  font-weight: var(--bold-weight);
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-regular);
  border-radius: var(--radius);
  padding: var(--large-gap);
  background-color: #e6e5e6;
}

aside {
  display: grid;
  padding-bottom: var(--large-gap);
  row-gap: var(--large-gap);
}

a {
  color: inherit;
  text-decoration: none;
  font-size: var(--font-size-regular);
  border-bottom: 1px solid #111;
}

a:hover {
  color: var(--orange-light);
  border-bottom: 1px solid var(--orange-light);
}

#about {
  margin: 0;
  color: #4a4a4a;
  padding-top: var(--xlarge-gap);
  padding-bottom: var(--large-gap);
  font-size: var(--font-size-regular);
}

#warning {
  color: var(--orange-light);
}

#page-header {
  padding: 0;
  width: 100%;
  padding-bottom: var(--large-gap);
}

#page-title {
  margin: 0;
  flex: 4 2 100%;
  user-select: none;
  line-height: 0.9em;
  word-wrap: break-word;
  padding-top: var(--large-gap);
  padding-bottom: var(--xlarge-gap);
  font-size: clamp(2rem, 2vmax + 1rem, 4rem);
}

.puzzle-controls-container {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--small-gap);
}

.puzzle-control {
  display: flex;
  flex-flow: column nowrap;
  flex: 2 2 100%;
  padding-bottom: 0;
  background-color: #e6e5e6;
  border-radius: var(--radius);
  padding: var(--large-gap);
  justify-content: space-between;
}

#counter-container {
  text-align: right;
}

#puzzle-canvas {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #e6e5e6;
  border-radius: var(--radius);
  border: 1px solid rgb(74, 74, 74);
  margin-bottom: var(--large-gap);
}

#puzzle-start {
  background-color: #accfbf;
}

#counter {
  margin: 0;
  margin-block: 0;
  color: #111;
  line-height: 1em;
  vertical-align: bottom;
  font-size: var(--font-size-medium);
}

#puzzle-level,
#puzzle-counter {
  margin: 0;
  padding: 0;
  color: #4a4a4a;
  padding-bottom: var(--xlarge-gap);
  font-size: var(--font-size-regular);
  padding-top: var(--large-gap);
}

main {
  display: grid;
  gap: var(--large-gap);
}

@media screen and (min-width: 1200px) {
  #about {
    grid-area: 4 / 1 / 5 / 7;
  }

  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
  }

  #puzzle-canvas {
    grid-area: 1 / 1 / auto / 3;
  }

  aside {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, min(120px, 1fr));
    grid-area: 1 / 3 / 1 / 5;
  }

  #puzzle-title-container {
    grid-area: 1 / 1 / 2 / 7;
    max-height: fit-content;
  }

  #puzzle-control-misc {
    grid-area: 2 / 1 / 3 / 7;
  }

  #puzzle-control-buttons {
    grid-area: 3 / 1 / 4 / 7;
  }
}

@media (prefers-color-scheme: dark) {
  #warning {
    color: var(--orange-dark);
  }

  label:hover,
  button:hover,
  input[type="range"]::-webkit-slider-thumb:hover {
    outline: 1px solid var(--orange-dark);
  }

  a {
    border-bottom: 1px solid #313131;
  }

  a:hover {
    color: var(--orange-dark);
    border-bottom: 1px solid var(--orange-dark);
  }

  body,
  label,
  button,
  #counter {
    color: var(--white-light);
  }

  label,
  button,
  .puzzle-control,
  #puzzle-canvas {
    background-color: #313131;
  }

  input[type="radio"]:checked+label {
    background-color: var(--orange-dark);
  }

  input[type="range"] {
    background-color: #8ca9b5;
  }

  body,
  input[type="range"]::-webkit-slider-thumb {
    background-color: #1a1a1a;
  }

  footer,
  #puzzle-level,
  #puzzle-counter,
  .puzzle-control {
    color: #bfbfbf;
  }

  #puzzle-start {
    background-color: #516f62;
  }
}